/*     ============== FOR iPAD AND TABLET =============*/

@media only screen and (max-width: 1024px){
    nav .logo{margin-left: 0}
    .subscribe{margin-left: 10px}
    #subBtn{margin-left: 80px}
}

/*     ============== FOR LARG SCREEN PHONE =============*/

@media only screen and (max-width: 768px){
    .row{padding: 0px 20px}
    .main-nav{display: none}
    .main-nav li{
        display: block;
        margin-bottom: 15px;
        padding: 5px 15px;
    }
    .main-nav{
        position: fixed;
        right: 0;
        margin: 0;
        height: 100vh;
        background-color: rgba(3, 6, 38, 0.42);
    }
    .logo{
        margin-left: 40%;
        margin-top: 0px;
    }
    .heading{position: relative}
    .mobile-nav-icon{display: block}
    .sub-btn{
        margin-left: 10px !important;
        margin-top: 10px;
    }
    .item-right{padding-left: 15px}
    .inner-text{font-size: 200%;}
}

/*     ============== FOR LARG iPHONE =============*/


@media only screen and (max-width: 640px){
    .logo{width: 170px;margin-left: 100px;margin-top: 10px}
    .inner-text{font-size: 145%;}
    .btn-shop{font-size: 107%}
}

/*     ============== FOR SMALL ANDROID PHONE =============*/

@media only screen and (max-width: 480px){
    .logo{margin: 0}
    .mobile-nav-icon{margin-top: 20px;}
    .col{margin-bottom: 10px}
    .subscribe h3{line-height: 1.5}
}


/*     ============== FOR VERY SMALL ANDROID PHONE =============*/


@media only screen and (max-width: 320px){
    .heroin-text h3{font-size: 18px}
    .heroin-text h1{font-size: 25px}
    .logo{width: 170px}
    .inner-text{font-size: 140%;}
    .btn-shop{font-size: 107%}
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
    .heroin-text h3{font-size: 18px}
    .heroin-text h1{font-size: 25px}
    .main-nav li{margin-bottom: 5px}
    .inner-text{font-size: 130%;margin: 15%}
    .logo{height: 60px;margin: 0}
    .mobile-nav-icon{margin-top: 15px;}
    .inner-border h3{font-size: 25px}

}
