/*     ============== FOR iPAD AND TABLET =============*/

@media only screen and (max-width: 1024px){
    nav .logo{margin-left: 0}
    .subscribe{margin-left: 10px}
    .subscribe{margin-left: 10px}
    #subBtn{margin-left: 80px}
}

/*     ============== FOR LARG SCREEN PHONE =============*/

@media only screen and (max-width: 768px){
    .row{padding: 0px 20px}
    .main-nav{display: none}
    .main-nav li{
        display: block;
        margin-bottom: 15px;
        padding: 5px 15px;
    }
    .main-nav{
        position: fixed;
        right: 0;
        margin: 0;
        height: 100vh;
        background-color: rgba(3, 6, 38, 0.42);
    }
    .logo{
        margin-left: 40%;
        margin-top: 0px;
    }
    .heading{position: relative}
    .mobile-nav-icon{display: block}
    .sub-btn{
        margin-left: 10px !important;
        margin-top: 10px;
    }
    .subscribe{margin-top: 90px}
    .item-right{padding-left: 15px}
    .inner-text{font-size: 200%;}
}

/*     ============== FOR LARG iPHONE =============*/


@media only screen and (max-width: 640px){
    .logo{width: 170px;margin-left: 100px;margin-top: 10px}
    .inner-text{font-size: 145%;}
    .subscribe{margin-top: 30px;}
    .subscribe h3{text-align: left}
    .btn-shop{font-size: 107%}
}

/*     ============== FOR SMALL ANDROID PHONE =============*/

@media only screen and (max-width: 480px){
    .logo{margin: 0}
    .mobile-nav-icon{margin-top: 20px;}
    .col{margin-bottom: 10px}
    .subscribe{margin-top: 65px;}
    .subscribe h3{text-align: center;line-height: 1.5}
}


/*     ============== FOR VERY SMALL ANDROID PHONE =============*/


@media only screen and (max-width: 320px){
    .heroin-text p {display: none}
    .heroin-text h1{margin-bottom: 20px}
    .logo{width: 170px}
    .inner-text{font-size: 135%;}
    .subscribe{margin-top: 30px;}
    .subscribe h3{text-align: left}
    .btn-shop{font-size: 107%}
}
