
@media only screen and (max-width: 768px){
    .row{padding: 0px 20px}
    .main-nav{display: none}
    .logo{
        margin-left: 40%;
        margin-top: 30px;
    }
    .main-nav{
        margin-top: 40px;
    }
    .heading{position: relative}
    .main-nav li{
        display: block;
        margin-bottom: 10px;
    }
    .main-nav li a{font-weight: 300}
    .mobile-nav-icon{display: block}
    .sub-btn{
        margin-left: 0;
        margin-top: 10px;
    }
    .subscribe{margin-top: 90px}
    .item-right{padding-left: 15px}
}

@media only screen and (max-width: 480px){
    .logo{margin: 0}
    .mobile-nav-icon{margin-top: 20px;}
    .col{margin-bottom: 10px}
    .subscribe{margin-top: 65px;}
    .subscribe h3{text-align: center;line-height: 1.5}
}

@media only screen and (max-width: 320px){
    .heroin-text p {display: none}
    .heroin-text h1{
        margin-bottom: 30px;
        font-size: 150%;
        padding: 0.2%;
        margin-top: 35%;
    }
    .logo{width: 170px}
    .inner-text{font-size: 135%;}
    .subscribe{margin-top: 30px;}
    .subscribe h3{text-align: left}
    .btn-shop{font-size: 107%}
}
