*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.clearfix{
    content: '';
    clear: both;
    display: table;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 23px;
    line-height: 24px;
    color: #fff;
    font-family: "Lato";
}

/*================================================
                    Loader
  ================================================*/

#my-div{
    width: 100%;
    height: 100vh;
    background: #545454; 
    background: -webkit-linear-gradient(to bottom, #545454, #545454);
    background: linear-gradient(to bottom, #1d1d1d, #101010);
    z-index: 900;
    position: fixed;
}
#svg-img{
    width: 50%;
    margin: 200px auto;
    display: none;
}
svg{
    width: 100%;
    height: 100%;
}
path,line,polyline{
    stroke: #dc0000;
    stroke-width: 2px;
}
path{
    fill: transparent;
}
nav{background-color: rgba(0, 0, 0, 0.29)}
.main-nav{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 50px;
    z-index: 299;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
    list-style-type: none;
    padding: 2px 10px;
}
.main-nav li a{font-size: 20px}
.navactive{color: #dc0000;}
.main-nav li:hover a{
    color: #dc0000;
    transition: color .5s;
}
.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
.mobile-nav-icon i{
    font-size: 220%;  /* read   #dc0000  */
    color: rgb(165, 19, 19);
    display: block;
    float: right;
}
.sticky{
    width: 100%;
    background-color: #000;
    padding-bottom: 10px;
    position: fixed;
    z-index: 199;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    transition: padding .3s ease;
    top: 0;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/heading-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.row{
    max-width: 1100px;
    margin: 0 auto;
    
}
.logo{
    margin-left: 150px;
    max-height: 85px;
    max-width: 230px;
    display: inline-block;
}
.heroin-text p {
    font-size:140%;
    margin: 20px 0px;
}
.heroin-text{
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.heroin-text h1{
    font-size: 250%;
}
#btn-sn{margin-bottom: 40px}                  /* read   #dc0000  */
.btn{ 
    border:1px solid;
    padding: 5px 9px;
}
.btn:hover{
    background: #fff;
    color: #000;
    transition: all .5s ease;
}
.dot{
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.dot li{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin-right: 8px;
}
.dot-active{
    background-color: #000 !important;
    border: 3px solid #fff;
}
.dot li:hover{
    background-color: #000 !important;
    border: 3px solid #fff;
    transition: background .7s ease;
}
h2{
    font-style: italic;
    font-size: 40px;
    font-weight: 300;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
    opacity: 0;
}
.os-animation .animated{opacity: 1 !important}
.line{
    display: block;
    height: 2px;
    width: 90px;
    background-color: #dc0000;
    content: " ";
    margin: 0 auto;
    -webkit-animation-duration: 1s !important;            /* read   #dc0000  */
    animation-duration: 1s !important;
    opacity: 0;
}
.top{
    margin-top: 30px;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.bottom{
    margin-bottom: 18px;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.js--latest-products{-webkit-animation-delay: .5s;animation-delay: .5s; opacity: 0}
.js--left,.js--right{-webkit-animation-delay: .7s;animation-delay: .7s; opacity: 0;}
.col{
    position: relative;
    overflow: hidden;
}
.col img{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    transition: all .2s;
}

.darken{
    background-color: rgba(31, 29, 29, 0.57);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.inner-border{
    position: absolute;
    border: 3px solid #fff;
    height: 80%;
    width: 80%;
    margin: 11% 10%;
    transition: all .2s ease;            /* read   #dc0000  */
    z-index: 2;
}
.inner-border h3{
    text-align: center;
    color: #fff;
    margin-top: 50%;
    font-size: 30px
}
.hvr:hover img{
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}
.col:hover .inner-border{
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
    z-index: 100;
}
.inner-text{
    position: absolute;
    margin: 20%;
    color: #fff;
    font-size: 260%;
    z-index: 3;
    text-align: center;
    transition: all .2s ease;
}
.inner-text:before,
.inner-text:after{
    display: block;
    content: "";
    height: 1px;
    width: 180px;
    background: #ffffff;
    margin: 10px auto;
}
.col:hover .inner-text{
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

.trending{
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.js--trending{-webkit-animation-delay: .7s;animation-delay: .7s; opacity: 0}
#branding-item{
    max-height: 450px;
    max-width: 450px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.item-right{
    float: right;
    margin-top: 40px;
    margin-right: 140px;
}
.item-right h3,
.blog h3{
   color: #dc0000;         /* read   #dc0000  */
    margin: 20px 0;
}
.item-text,
.blog p{
    margin: 15px 0;
    line-height: 1.4;
    color: #545454;
}

.sizebtn{
    margin: 30px 0;
}
.btn-size,
.btn-shop{
    border: 1px solid #000;
    padding: 5px 9px;
    color: #545454;
    margin-right: 10px;
    font-family: 'Open Sans';
}

.blog .btn-shop{
    display: inline-block;
    margin: 20px 0 !important;
    font-size: 19px;
}
.items-dot li{
    width: 20px;
    height: 20px;
    background-color: #9d9c9c;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
}
.items-active{
    background-color: #eaeaea !important;
    border: 3px solid #ad0909;
}
.items-dot li:hover{
    background-color: #eaeaea !important;
    border: 3px solid #ad0909;
    transition: all .2s ease;
}
#itemDot{
    width: 75px;
    margin: 15px auto;
    display: -webkit-box;
    display: flex
}
.newsletter{
    background-image: linear-gradient(rgba(10, 10, 10, 0.79),rgba(0, 0, 0, 0.57)),url(../img/footer-img.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    color: #d4d4d4;
}
.subscribe{
    display: inline-block;
    margin-top: 125px;
}
.subscribe h3{font-weight: 300}
.sub-btn{
    display: inline-block;
    margin-left: 150px;
    background-color: #ffffff;
    color: #000;
    padding: 12px 45px;
    font-size: 22px;
    font-family: 'Open Sans';
}
.sub-btn:hover,
.btn-shop:hover,
.btn-size:hover{
    background-color: #242323;
    color: #eaeaea;
    transition: all .5s;
}
.subscribe input{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background: none;
    border: 1px solid #fff;
    padding: 13px 60px;
    background-image: url(../img/Love-Letter.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 30px 25px;
}

footer{height: 100px}
footer p{
    text-align: center;
    margin-top: 25px;
}
footer i{
    font-size: 25px;
    color: #dc0000;
}
.js--heart{-webkit-animation-delay: .8s;animation-delay: .8s}




